## Pandas Series is a one-dimensional labeled array capable of holding data of any type 
## (integer, string, float, python objects, etc.). 
## The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

In [3]:
import pandas as pd
import numpy as np

## Creating a Series

#You can create a Series from list,numpy array or dictionaries

In [31]:
my_labels=['a','b','c']
my_list=[10,100,1000]
my_array=np.array([20,200,2000])
my_dict={'a':30,'b':300,'c':3000}

## Using a List

In [8]:
pd.Series(my_labels)

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series(my_list)

0      10
1     100
2    1000
dtype: int64

## Using a Array

In [12]:
pd.Series(my_array)

0      20
1     200
2    2000
dtype: int64

## Using a Dictionary

In [14]:
pd.Series(my_dict)

a      30
b     300
c    3000
dtype: int64

## Creating a Series with Index

In [19]:
companies=pd.Series(data=[10,100,1000,10000],index=['FB','Google','IBM','Twitter'])

In [20]:
companies

FB            10
Google       100
IBM         1000
Twitter    10000
dtype: int64

In [21]:
startups=pd.Series(data=[20,200,2000,20000],index=['FB','Google','IBM','Wipro'])

In [22]:
startups

FB           20
Google      200
IBM        2000
Wipro     20000
dtype: int64

In [25]:
revenue=companies+startups

In [27]:
#Same Index Summation happens ,if no then NAN Missing Value
revenue

FB           30.0
Google      300.0
IBM        3000.0
Twitter       NaN
Wipro         NaN
dtype: float64

In [29]:
#Fetching the Value based on the Index
companies['FB']

10